<!doctype html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="ThemeStarz">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/odometer-theme-default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<title>Selfer - Personal Portfolio Template</title>

</head>
<body data-spy="scroll" data-target=".navbar" class="has-loading-screen">
    <div class="ts-page-wrapper" id="page-top">
        <!--NAVIGATION ******************************************************************************************-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
            <div class="container">
                <a class="navbar-brand ts-push-down__50 position-absolute ts-bottom__0 bg-white pb-0 ts-z-index__1 ts-scroll" href="#page-top">
                    <img src="assets/img/logo.png" alt="">
                </a>
                <!--end navbar-brand-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--end navbar-toggler-->
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav d-block d-lg-flex ml-auto text-right">
                        <a class="nav-item nav-link active ts-scroll" href="#page-top">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link ts-scroll" href="#my-services">Services</a>
                        <a class="nav-item nav-link ts-scroll" href="#about-me">About Me</a>
                        <a class="nav-item nav-link ts-scroll" href="#my-skills">Skills</a>
                        <a class="nav-item nav-link ts-scroll" href="#portfolio">Portfolio</a>
                        <a class="nav-item nav-link ts-scroll" href="#testimonials">Clients</a>
                        <a class="nav-item nav-link ts-scroll mr-2" href="#form-contacts">Contact</a>
                    </div>
                    <!--end navbar-nav-->
                </div>
                <!--end collapse-->
            </div>
            <!--end container-->
        </nav>
        <!--end navbar-->
        <!--*********************************************************************************************************-->
        <!--************ HERO ***************************************************************************************-->
        <!--*********************************************************************************************************-->
				<div id="ts-hero" class="ts-animate-hero-items">

				    <!--HERO CONTENT ****************************************************************************************-->
						{% for home in home_obj %}
						<div class="container position-relative h-100 ts-align__vertical">
								<div class="row w-100">
										<div class="col-md-8">
												<!--SOCIAL ICONS-->
												<figure class="ts-social-icons mb-4">
														<a href="{{ home.facebook }}" class="mr-3">
																<i class="fab fa-facebook"></i>
														</a>
														<a href="{{ home.twitter }}" class="mr-3">
																<i class="fab fa-twitter"></i>
														</a>
														<a href="{{ home.pinterest }}" class="mr-3">
																<i class="fab fa-pinterest"></i>
														</a>
														<a href="{{ home.facebook }}" class="mr-3">
																<i class="fab fa-slack"></i>
														</a>
														<a href="{{ home.instagram }}" class="mr-3">
																<i class="fab fa-instagram"></i>
														</a>
												</figure>

												<!--TITLE -->
												<h1>I am {{ home_profile.user.username }}</h1>
												<h1 class="ts-bubble-border">
														<span class="ts-title-rotate">
																<span class="active">{{ home.professions }}</span>
																<span>Photographer</span>
																<span>Creative Person</span>
														</span>
												</h1>

										</div>
										<!--end col-md-8-->
								</div>
								<!--end row-->
								<a href="#my-services" class="ts-btn-effect position-absolute ts-bottom__0 ts-left__0 ts-scroll ml-3 mb-3">
										<span class="ts-visible ts-circle__sm rounded-0 ts-bg-primary">
												<i class="fa fa-arrow-down text-white"></i>
										</span>
										<span class="ts-hidden ts-circle__sm rounded-0">
												<i class="fa fa-arrow-down text-white"></i>
										</span>
								</a>

						</div>
						<!--end container-->
						<!--END HERO CONTENT ************************************************************************************-->

						<!--HERO BACKGROUND *************************************************************************************-->
						<div class="ts-background">
								<div class="ts-background-image" data-bg-image="/media/{{ home.image }}"></div>
						</div>
						{% endfor %}
				    <!--END HERO BACKGROUND *********************************************************************************-->

				</div>
        <!--end #hero-->

        <!--*********************************************************************************************************-->
        <!--************ CONTENT ************************************************************************************-->
        <!--*********************************************************************************************************-->
        <main id="ts-content">

            <!--MY SERVICES ***********************************************************************************-->
            <section id="my-services" class="ts-block ts-xs-text-center pb-0">
                <div class="container">
                    <div class="ts-title text-center">
                        <h2>My Services</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row">
											{% for service in service_obj %}
                        <div class="col-sm-6 col-md-4 col-xl-4">
                            <div class="ts-item" data-animate="ts-fadeInUp">
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <img src="/media/{{ service.title_image }}" alt="" width="100px" height="100px"v class="rounded-circle">
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        <h4>{{ service.title }}</h4>
                                        <p class="mb-0">
                                            {{ service.short_desc}}
                                        </p>
                                    </div>
                                    <!--end ts-item-body-->
                                    <div class="ts-item-footer">
                                        <a href="{% url 'app_main:service_details' pk=service.pk %}" data-toggle="modal" data-target="#modal" class="ts-link-arrow-effect">
                                            <span>Read More</span>
                                        </a>
                                    </div>
                                    <!--end ts-item-footer-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
											{% endfor %}
                        <!--end col-xl-4-->

                        <!--end col-xl-4-->

                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!--END MY SERVICES *************************************************************************************-->

            <section id="about-me" class="ts-block pb-4">
                <div class="container">
                    <div class="ts-title text-center">
                        <h2>About Me</h2>
                    </div>
                    <!--end ts-title-->
                    {% for profile in profile_obj %}
										<div class="row ts-align__vertical">
                        <div class="col-md-6">
                            <img src="/media/{{ profile.image }}" alt="" class="mw-100 mb-5">
                        </div>
                        <div class="col-md-6">
                            <h4 class="ts-bubble-border">{{ profile.short_msg }}</h4>
                            <p> {{ profile.description }} </p>
                            <dl class="ts-column-count-2">
                                <dt>Name:</dt>
                                <dd>J{{ profile.full_name}}</dd>
                                <dt>Phone:</dt>
                                <dd>{{ profile.phone }}</dd>
                                <dt>Email:</dt>
                                <dd>{{ profile.email }}/dd>
                                <dt>Twitter:</dt>
                                <dd>{{ profile.twitter }}</dd>
                            </dl>
                            <hr class="ts-hr-light mb-5">
                            <a href="#contact" class="ts-btn-effect mr-2">
                                <span class="ts-visible btn btn-primary ts-btn-arrow">Contact Me</span>
                                <span class="ts-hidden btn btn-primary ts-btn-arrow" data-bg-color="#d44729">Contact Me</span>
                            </a>
                            <!--<a href="#contact" class="btn btn-primary ts-btn-arrow mr-2">Contact Me</a>-->
                            <!--<a href="#contact" class="btn btn-outline-light ts-btn-border-light">-->
                                <!--<i class="fa fa-download small mr-2"></i>-->
                                <!--Download CV-->
                            <!--</a>-->
                            <a href="#contact" class="ts-btn-effect mr-2">
                                <span class="ts-visible btn btn-outline-light">
                                    <i class="fa fa-download small mr-2"></i>
                                    Download CV
                                </span>
                                <span class="ts-hidden btn btn-light bg-white">
                                    <i class="fa fa-download small mr-2"></i>
                                    Download CV
                                </span>
                            </a>
                        </div>
                    </div>
										{% endfor %}
                    <!--end row-->
                </div>
            </section>

            <section class="ts-block">
                <div class="container">
                    <div class="text-center px-5 pt-5 position-relative">
                        <h3 class="my-3">
                            Let’s Work Together On Your Next Project!
                        </h3>
                        <a href="#contact" class="btn btn-primary mr-2 ts-push-down__50 ts-has-talk-arrow">Hire Me Now!</a>
                        <div class="ts-background ts-opacity__20" data-bg-image="assets/img/bg-keyboard.jpg"></div>
                    </div>
                </div>
            </section>

            <section id="my-skills" class="ts-block pb-5">

							<div class="container">
								<div class="ts-title text-center">
									<h2>My Skills</h2>
								</div>
								<!--end ts-title-->


								<h4>Professional lorem ipsum generator </h4>
								<div class="row">
									<div class="col-md-6">
										<p>
											In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.
										</p>
										<a href="#contact" class="btn btn-outline-light mb-5">Contact Me</a>
									</div>

									<!--end col-md-6-->
									<div class="col-md-6">
										{% for skill in skill_obj %}
										<div class="progress" data-progress-width="{{skill.skill_percentage}}%">
												<h5 class="ts-progress-title">{{ skill.skill }}</h5>
												<figure class="ts-progress-value"></figure>
												<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										{% endfor %}
										<!--end progress-->

										<!--end progress-->
									</div>
									<!--end col-md-6-->
								</div>
								<!--end row-->

							</div>
                <!--end container-->
            </section>

            <section class="ts-block pb-5" id="portfolio">
                <div class="container">
                    <div class="ts-title">
                        <h2>Portfolio</h2>
                    </div>
                    <!--end ts-title-->
										<div class="card-columns ts-gallery ts-column-count-4">
										{% for portfolio in portfolio_obj %}
                        <a href="/media/{{ portfolio.image }} " class="card ts-gallery__item popup-image" data-animate="ts-fadeInUp">
                            <div class="ts-gallery__item-description">
                                <h6 class="ts-opacity__50">{{ portfolio.name }}</h6>
                                <h4>{{ portfolio.short_title }}</h4>
                            </div>
                            <img src="/media/{{ portfolio.image }} " class="card-img" alt="">
                            <!--end ts-gallery__image-->
                        </a>
												{% endfor %}
                    </div>
                    <!--end ts-gallery-->
                </div>
                <!--end container-->
            </section>
            <!--end portfolio-->

            <section class="ts-block" data-bg-image="assets/img/bg-man-sitting.jpg">
                <div class="container ts-promo-numbers">
                    {% for count in count_down_obj %}
										<div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="{{ count.clients }}">0</figure>
                                <h5>Clients</h5>
                            </div>
                            <!--end ts-promo-number-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="{{ count.projects }}">0</figure>
                                <h5>Projects</h5>
                            </div>
                            <!--end ts-promo-number-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="{{ count.awards }}">0</figure>
                                <h5>Awards</h5>
                            </div>
                            <!--end ts-promo-number-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="{{ count.years_experience }}">0</figure>
                                <h5>Years Experience</h5>
                            </div>
                            <!--end ts-promo-number-->
                        </div>
                        <!--end col-md-3-->
                    </div>
										{% endfor %}
                </div>
            </section>
            <!--end ts-block-->

            <section id="testimonials" class="ts-block text-center pb-5">
                <div class="container">
                    <div class="ts-title">
                        <h2>Testimonials</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="owl-carousel" data-owl-dots="1" data-owl-loop="1" data-animate="ts-fadeInUp">
															{% for test in testimonial_obj %}
                                <div class="slide mb-5">
                                    <figure class="d-inline-block p-3 ts-bg-primary text-white ts-has-talk-arrow">
                                        <i class="fa fa-quote-right"></i>
                                    </figure>
                                    <p class="ts-h5">
                                        {{ test.description }}
                                    </p>
                                    <div class="ts-circle__lg mb-3" data-bg-image="assets/img/person.jpg"></div>
                                    <h5>{{ test.client_name }}</h5>
                                    <h6 class="ts-opacity__40">{{ test.client_name_title }}</h6>
                                </div>
															{% endfor %}
                                <!--end slide-->

                                <!--end slide-->
                            </div>
                            <!--end owl-carousel-->
                        </div>
                        <!--end col-md-8-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!--end #testimonials ts-block-->

            <!--LOGOS ***********************************************************************************************-->
            <section id="partners" class="ts-block py-4">
                <!--container-->
                <div class="container">
                    <!--block of logos-->
                    <div class="d-block d-md-flex justify-content-between align-items-center text-center ts-partners py-3">
											{% for partner in partner_obj %}
                        <a href="#">
                            <img src="/media/{{ partner.company_logo }}" alt="" width="80px">
                        </a>
												{% endfor %}
                    </div>
                    <!--end logos-->
                </div>
                <!--end container-->
            </section>
            <!--END LOGOS *******************************************************************************************-->

        </main>
        <!--end #content-->

        <!--*********************************************************************************************************-->
        <!--************ FOOTER *************************************************************************************-->
        <!--*********************************************************************************************************-->
        <footer id="ts-footer" class="mt-5">

            <section id="contact" class="ts-block ts-separate-bg-element" data-bg-image="assets/img/bg-man-wall.jpg" data-bg-image-opacity=".1">

                <div class="container">
                    <div class="ts-title text-center">
                        <h2 class="ts-bubble-border">Get In Touch</h2>
                    </div>


									<div class="row ts-xs-text-center ">
										{% for pro in profile_obj %}
											<div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp">
													<img src="assets/img/icon-pin.png" class="mb-4" alt="">
													<h5>Address</h5>
													<div class="ts-opacity__50">
															<figure class="mb-0">{{ pro.address }}</figure>
															<figure>Sailor Springs, IL 62434</figure>
													</div>
													<!--end ts-opacity__50-->
											</div>
											<!--end col-md-3-->
											<div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp" data-delay=".1s">
													<img src="assets/img/icon-phone-02.png" class="mb-4" alt="">
													<h5>Phone</h5>
													<div class="ts-opacity__50">
															<figure class="mb-0">+{{ pro.phone }}</figure>

													</div>
													<!--end ts-opacity__50-->
											</div>
											<!--end col-md-3-->
											<div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp" data-delay=".2s">
													<img src="assets/img/icon-envelope.png" class="mb-4" alt="">
													<h5>Email</h5>
													<div class="ts-opacity__50">
															<figure class="mb-0">{{ pro.email }}</figure>

													</div>
													<!--end ts-opacity__50-->
											</div>
											<!--end col-md-3-->
											<div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp" data-delay=".3s">
													<img src="assets/img/icon-talk-bubble.png" class="mb-4" alt="">
													<h5>Facebook Chat</h5>
													<div class="ts-opacity__50">
															<figure>{{ pro.twitter }}</figure>
													</div>
													<!--end ts-opacity__50-->
											</div>
											<!--end col-md-3-->
											{% endfor %}
									</div>

                    <!--end row-->

                    <div class="pt-5">
                        <div class="row">
                            <div class="col-md-4">
                                <h3>Let’s Connect</h3>

                                <div class="ts-column-count-sm-2">
                                    {% for connect in lets_connect_obj %}
																		<a href="{{ connect.facebook }}" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-facebook-f"></i>
                                    </span>
                                        <span>Facebook</span>
                                    </a>
                                    <!--end link-->
                                    <a href="{{ connect.facebook }}" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-twitter"></i>
                                    </span>
                                        <span>Twitter</span>
                                    </a>
                                    <!--end link-->
                                    <a href="{{ connect.instagram }}" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-instagram"></i>
                                    </span>
                                        <span>Instagram</span>
                                    </a>
                                    <!--end link-->
                                    <a href="{{ connect.pinterest }}" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-pinterest-p"></i>
                                    </span>
                                        <span>Pinterest</span>
                                    </a>
                                    <!--end link-->
                                    <a href="{{ connect.skype }}" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-skype"></i>
                                    </span>
                                        <span>Skype</span>
                                    </a>
																		{% endfor %}
                                    <!--end link-->
                                </div>

                            </div>
                            <!--end col-md-4-->
														<div class="col-md-8">
																<h3>Send Me a Message</h3>
															<form id="form-contacts" class="" method="POST">
																{{ form }}
																{% csrf_token %}
																<button type="submit" class="btn btn-dark btn-bg mt-3">Message</button>
															</form>
																<!--end form-contact -->
														</div>
                        </div>
                        <!--end row-->
                    </div>
                </div>
                <!--end container-->
            </section>
            <!--end #contact-->

            <div class="text-dark bg-white">
                <div class="container py-3 position-relative">
									{% for footer in footer_obj %}
                    <small>©{{ footer.copy_right_text }} </small>
										{% endfor %}
                    <a href="#page-top" class="ts-circle__xs rounded-0 bg-dark position-absolute ts-right__0 ts-top__0 ts-push-up__50 ts-scroll">
                        <i class="fa fa-arrow-up text-white"></i>
                    </a>
                </div>
            </div>

        </footer>
        <!--end #footer-->

    </div>
    <!--end page-->






    <!-- Modal -->
    {% include 'app_main/modal.html' %}
    <!--end modal-->








	<script src="{% static 'assets/js/custom.hero.js' %}"></script>
	<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'assets/js/isInViewport.jquery.js' %}"></script>
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'assets/js/scrolla.jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery-validate.bootstrap-tooltip.min.js' %}"></script>
	<script src="{% static 'assets/js/odometer.min.js' %}"></script>
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>

</body>
</html>
